body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: rgb(12, 45, 109);
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 2; /* Ensure the header is above the map */
}

#menu-toggle {
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    font-size: 24px;
    font-weight: bold;
    font-size: 30px;
}

#mySidenav {
    height: 45%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(12, 45, 109);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

#mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffff;
    display: block;
    transition: 0.3s;
    z-index: 2; /* Ensure menu items are above the map */
}

#mySidenav a:hover {
    color: #d11212;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#map {
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
    z-index: 0; /* Set the map to a lower z-index to appear behind the header and menu */
}

.top-right-button {
    position: fixed;
    top: 30px;
    right: 40px; /* Adjust the distance from the right to make space for the menu */
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
}


#user-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 2; /* Set a higher z-index to make sure it appears above other elements */
}


#imageButton {
    position: absolute;
    top: 30px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    border: none;
    background: none;
    cursor: pointer;
}

#imageButton img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    object-fit: contain; /* Maintain aspect ratio */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(0, 20%, 98%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    right: 0;
}

#imageButton:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s; 
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #111; 
}


/* Add these styles to your existing styles */
#toggleMarkersBtn1,
#toggleMarkersBtn2,
#toggleMarkersBtn3,
#toggleMarkersBtn4,
#toggleMarkersBtn5,
#toggleMarkersBtn6,
#toggleMarkersBtn7 {
background-color: rgb(12, 45, 109);
color: #fff;
border: none;
padding: 10px;
margin: 5px;
cursor: pointer;
border-radius: 5px;
}

#toggleMarkersBtn1:hover,
#toggleMarkersBtn2:hover,
#toggleMarkersBtn3:hover,
#toggleMarkersBtn4:hover,
#toggleMarkersBtn5:hover,
#toggleMarkersBtn6:hover,
#toggleMarkersBtn7:hover {
background-color: #2980b9;
}

.icon-next-to-button {
width: 20px;
height: 20px;
margin-right: 5px;
}

