
#header-content {
  transition: margin-left 0.5s;
  padding: 16px;
}

.announcement {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  color: #333;
}

.announcement-date {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.announcement button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: rgb(12, 45, 109);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-menu {
  display: none;
  position: fixed;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 8px 16px rgb(12, 45, 109);
  z-index: 1;
  user-select: none;
  border-radius: 10px;
  resize: both;
  overflow: auto;
  max-height: none;
  max-width: none;
}

.popup-menu-header {
  padding: 10px;
  background-color: rgb(12, 45, 109);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.popup-menu-content {
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  resize: both;
  overflow: auto;
  max-height: none;
}

.close-btn {
  cursor: pointer;
  color: white;
}

.donation-item {
  margin-bottom: 10px; /* Adjust the margin to control the space between items */
}

.donation-item label {
  display: inline-block;
  width: 80px; /* Adjust the width to control the space between label and input */
}

.donation-item input {
  width: 50px;
}

#contribution-popup {
  /* Your existing styles for the popup */
  display: none; /* Ensure the popup is hidden by default */
  position: fixed;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 8px 16px rgb(12, 45, 109);
  z-index: 1;
  user-select: none;
  border-radius: 10px;
  resize: both;
  overflow: auto;
  max-height: none;
  max-width: none;
}

#donation-items {
  /* Style for the container of donation items */
  margin-top: 10px; /* Adjust the top margin as needed */
}

#donation-items div {
  /* Style for each donation item */
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust the margin between donation items */
}

#donation-items label {
  /* Style for the label (item name) */
  flex: 1;
  margin-right: 10px;
}

#donation-items select {
  /* Style for the select dropdown (quantity) */
  flex: 2;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}