#header-container {
  height: 100vh;
  position: relative;
  text-align: center;
  color: #fff;
}

.arrow-down-circle {
  position: absolute;
  bottom: 200px; /* Adjust the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
}

.arrow-down-circle a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #3498db;
  font-size: 20px;
}

#header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: #fff;
}


#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

#text-container {
  max-width: 600px;
  text-align: center;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
}

#counters-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.counter {
  text-align: center;
  margin: 0 30px;
}

.counter h2 {
  font-size: 18px;
  margin: 5px 0;
}

.counter p {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  margin: 5px 0;
}



